

.cart-page {
    margin-top:30px;
    display:flex;
    justify-content: center;;
}


.cart-content {
    width:80%;
    max-height:70%;
    min-height:40%;
    margin-bottom:50px;
  
}
.cart-text {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.yourcart {
    margin-bottom:1%;
}

.line{
    width: 60%;
    height: 47px;
    border-bottom: 1px solid black;
    border-width:thick
    }

.total {
    display:flex;
    justify-content: space-between;
    width:60%;
}

.backbutton {
    border:2px solid #A9A9A9;
    padding:5px 35px 5px 35px;
    border-radius: 5px;
    cursor:pointer;
    display:inline-block;
    margin-left:10px;
    text-decoration: none;
}
.backbutton:hover {
    color:black;
}
.button-tong {
    width:60%;
    text-align: center;
}

.item-pic {
    width:15%;
    height:15%;
}

.item-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
    margin-bottom:2%;
}

.item-desc {
    display:flex;
    height:20%;
    flex-direction:column;
    align-items: flex-end;
}

.item-desc > p {
    margin-bottom:0;
}
.total > p {
    font-size:25px;
}

.nameanddelete {
    display:flex;
    margin-right:3px;
    align-items:center;
}

.nameanddelete > p{
    font-size:15px;
    margin-bottom:0;
}

.fa {
    font-size:10px;
    padding-bottom:2px;
}

.fa:hover {
    cursor:pointer;
}

/* For smartphones  */
@media only screen and (max-width: 766px) {
    .item-list {
        width:350px;
        margin-bottom:10px;
    }
    .line {
        width:350px
    }
    .total {
        width:350px;
    }
    .backbutton {
        display:block;
    }
}