body {
    font-family: 'Roboto', sans-serif;
}
.site-header {
    background-color:black;
    box-sizing:border-box;
}
.nike-logo {
    height:40px;

}
.site-header a {
    text-decoration: none;
    color:#999;
    transition:ease-in-out color .15s
}

.site-header a:hover {
    color:white;
}

@media only screen and (max-width: 760px) {
    .logowrapper {
        display:flex;
        justify-content: center;
    }
}